# Ignore all test and documentation for archive
.*                  export-ignore
*.dist              export-ignore
*.xml               export-ignore
/docs               export-ignore
/tests              export-ignore
/Makefile           export-ignore
/support            export-ignore
/stubs              export-ignore
