<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    executionOrder="random"
>
  <testsuites>
    <testsuite name="Yii2-Queue">
      <directory>./tests</directory>
      <exclude>./tests/app</exclude>
      <exclude>./tests/docker</exclude>
      <exclude>./tests/runtime</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
