<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/app</exclude>
            <exclude>./tests/docker</exclude>
            <exclude>./tests/runtime</exclude>
        </testsuite>
    </testsuites>
</phpunit>
