---
name: lint

permissions:
  contents: read
  pull-requests: write

on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".dockerignore"
      - ".editorconfig"
      - ".gitattributes"
      - ".github/CONTRIBUTING.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE.md"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/SECURITY.md"
      - ".gitignore"
      - "docs/**"
      - "LICENSE.md"
      - "README.md"

  push: *ignore-paths

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpcs:
    runs-on: ubuntu-latest

    name: PHP ${{ matrix.php }}-PHP_CodeSniffer

    strategy:
      fail-fast: false
      matrix:
        php: [8.5]

    steps:
      - name: Monitor action permissions.
        if: runner.os != 'Windows'
        uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - name: Checkout.
        uses: actions/checkout@v5

      - name: Setup PHP with Composer.
        uses: yiisoft/yii2/.github/actions/php-setup
        with:
          composer-command: install
          php-version: ${{ matrix.php }}
          tools: cs2pr

      - name: Run PHP_CodeSniffer.
        run: vendor/bin/phpcs -q --report=checkstyle src/ tests/ | cs2pr
